*
{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body
{
   background-color: antiquewhite;
   height: 100vh;
   width: 100vw;
}

header
{
   background-color: rgb(251, 207, 149);
   height: 25%;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

main
{
   background-color: rgb(255, 217, 168);
   height: 65%;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

footer
{
   background-color: rgb(251, 207, 149);
   height: 10%;
   width: 100vw;
}
